html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #9fa4a8, #2c3e50);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.formBG {
    height: 600px;
    width: 425px;
    background-color: rgb(47, 21, 21);
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title, .desc {
    color: white;
}

.title {
    font-size: 60px;
    margin: 0;
    margin-top: 45px;
}

.desc {
    font-size: 15px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35%;
    width: 100%;
}

.inp {
    height: 35px;
    width: 225px;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    border: none;
}

.lbl {
    color: white;
    margin-bottom: 17.5px;
    margin-top: 17.5px;
}

.output {
    color: white;
    text-align: center;
    font-size: 18px;
    width: 60%;
    margin-top: 30px;
}